extends ./__jumbotron.jade
block button
    br
    button#newPollButton
        a(href="/newPoll") New Poll
    |    
    button#existingPollButton
        a(href="/myPolls") My Polls
    br
    br
    button#communityPollButton 
        a(href="/otherPolls") Other Polls
    |  
    button#userButton
        a(href="/users") Users