mixin navigation(seshName)
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='../newPoll') Pollin' Season
      ul.nav.navbar-nav.navbar-left
        li
          a(href='../') Home
      ul.nav.navbar-nav.navbar-right
        if seshName
          li
            a(href='../myPolls') Hello, #{seshName}
          li  
            a(href='../settings') Settings
          li
            a(href='../logout') Sign Out
        else
          li
            a(href='../signup') Sign Up
          li
            a(href='../login') Log In
