include ./partials/__header.jade
include ./partials/__navbar.jade
mixin navigation(loggedIn, seshName)
include ./partials/__jumbodashboard.jade
br
div#newPoll(style="#{ displayDelete ? 'display: none;' : 'display:block;' }")
  form#newPollForm(method="POST")
    h1 New Poll
    label
      | Name your poll.
      br
      textarea#pollNameInput(name='pollName', placeholder='Favorite color?')
    br
    label#optionList
      | Options
      br
      input.option(type='text', name='options[0]', placeholder='Red')
      br
      input.option(type='text', name='options[1]', placeholder='Blue')
      input(name="action" value="addPoll" style="display:none;")
    br
    button#addOption Add an Option
    br
    input(type='submit', value='Save New Poll')
div#oldPolls(style="#{ displayDelete ? 'display: block;' : 'display:none;' }")
  ul
  if polls
      for poll in polls
        li
          form#deletePollForm(method="POST")
            a(href="/polls/"+poll.id)= poll.name
            input(name="action" value="deletePoll" style="display:none;")
            button.deletePollButton(name="deleteID" value=poll.id) Delete
        br
script.
    var optionsLength = 2;
    $("#addOption").on("click", function(){
    var input = $("<br /><input type='text' name='options[" + optionsLength + "] class='option'/>");
    optionsLength++;
    $("#optionList").append(input);
    return false;
    });
      
    $("#newPollButton").on("click", function(){
      $("#newPoll").attr("style", "display:block");
      $("#oldPolls").attr("style", "display:none");
    });
    $("#existingPollButton").on("click", function(){
      $("#newPoll").attr("style", "display:none");
      $("#oldPolls").attr("style", "display:block");
    });
    
if error
  include ./partials/__error.jade
  mixin errorDisplay(error)
if success
  include ./partials/__success.jade
  mixin successDisplay(success)