include ./partials/__header.jade
include ./partials/__navbar.jade
include ./partials/__jumbodashboard.jade
br
form#newPollForm(method="POST")
  h1 New Poll
  label
    | Name your poll.
    br
    textarea#pollNameInput(name='pollName', placeholder='Favorite color?')
  br
  label#optionList
    | Options
    br
    input.option(type='text', name='options[0]', placeholder='Red')
    br
    input.option(type='text', name='options[1]', placeholder='Blue')
  br
  button#addOption Add an Option
  br
  input(type='submit', value='Save New Poll')
//div#oldPolls(style='display:none;')
  ul
    each title in pollNames
      li 
        a(href="/polls/"+title)= title
        button.deleteButton(name=title) Delete
script.
    var optionsLength = 2;
    $("#addOption").on("click", function(){
    console.log(optionsLength);
    var input = $("<br /><input type='text' name='options[" + optionsLength + "] class='option'/>");
    optionsLength++;
    $("#optionList").append(input);
    return false;
    });
      
    $("#newPollButton").on("click", function(){
      $("#newPollForm").attr("style", "display:block");
      $("#oldPolls").attr("style", "display:none");
    });
    $("#existingPollButton").on("click", function(){
      $("#newPollForm").attr("style", "display:none");
      $("#oldPolls").attr("style", "display:block");
    });
include ./partials/__error.jade
include ./partials/__success.jade