include ./partials/__header.jade
include ./partials/__navbar.jade
include ./partials/__jumbodashboard.jade
br
form#newPollForm(method="POST")
  h1 New Poll
  label
    | Name your poll.
    br
    textarea#pollNameInput(name='pollName', placeholder='Favorite color?')
  br
  label#optionList
    | Options
    br
    input.option(type='text', name='options[]', placeholder='Red')
    br
    input.option(type='text', name='options[]', placeholder='Blue')
  br
  button#addOption More Options
  br
  input(type='submit', value='Save New Poll')
div#oldPolls(style='display:none;')
  ul
    each pollName in #{pollNames}
      li 
        //a(href="")pollName) pollName 12/30: figure out how to do for loop of poll names with links
        button.deleteButton Delete
script.
    $("#addOption").on("click", function(){
    var input = $("<br /><input type='text' name='options[]' class='option'/>");
    $("#optionList").append(input);
    return false;
    });
      
    $("#newPollButton").on("click", function(){
      $("#newPollForm").attr("style", "display:block");
      $("#oldPolls").attr("style", "display:none");
    });
    $("#existingPollButton").on("click", function(){
      $("#newPollForm").attr("style", "display:none");
      $("#oldPolls").attr("style", "display:block");
    });
include ./partials/__error.jade
include ./partials/__success.jade