include ./partials/__header.jade
include ./partials/__navbar.jade
mixin navigation(loggedIn, seshName)
include ./partials/__jumbotron.jade
    form#loginform(method="POST")
      label
        | Email
        br
        input(type='text', name='email')
      br
      label
        | Password
        br
        input(type='password', name='password')
        br
        input(type='submit', value='Log In')
include ./partials/__error.jade
include ./partials/__success.jade