include ./partials/__header.jade
script(type='text/javascript', src='https://www.google.com/jsapi')
include ./partials/__navbar.jade
mixin navigation(seshName)
include ./partials/__jumbotron.jade
div#pollPresentation
    h3.greenText= poll.pollName
        h4 Poll created by:
            |  
            span= poll.creatorName
    form#pollOptions(method="POST")
        each option in poll.pollOptions
            button.optionButton(name="incrementID", value=option._id, type="submit")= option.text 
            |  
            span.voteQuantity=  option.votes.length
            |  
br
div#pollExplainer Note that you can vote for as many options as you want, but cannot vote for the same option twice.
br
if error
  include ./partials/__error.jade
  mixin errorDisplay(error)
if success
  include ./partials/__success.jade
  mixin successDisplay(success)
br
div#poll_chart(align="center")
br
script.
    var poll = !{JSON.stringify(poll)};
    google.load('visualization', '1.0', {'packages':['corechart']});

     google.setOnLoadCallback(drawChart);

     function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Option');
        data.addColumn('number', 'Votes');
        for(var i = 0; i < poll.pollOptions.length; i++){
            data.addRow([poll.pollOptions[i].text, poll.pollOptions[i].votes.length]);
        }

    var options = {'title':poll.pollName,
                       'width':500,
                       'height':300,
                       'colors':["green"],
                       'hAxis': {'viewWindow': {'min':0.0}}};

    var chart = new google.visualization.BarChart(document.getElementById('poll_chart'));
        chart.draw(data, options);
      }