include ./partials/__header.jade
include ./partials/__navbar.jade
mixin navigation(loggedIn, seshName)
include ./partials/__jumbotron.jade
    div#pollName #{pollName}
    div#pollOptions
        each option in #{pollOptions}
            div= option