include ./partials/__header.jade
include ./partials/__navbar.jade
mixin navigation(loggedIn, seshName)
include ./partials/__jumbotron.jade
div#pollPresentation
    h3= poll.pollName
    h4 Poll created by:
    span= seshName
    form#pollOptions(method="POST")
        each option in poll.pollOptions
            button.optionButton(name="incrementID", value=option._id, type="submit")= option.text 
            |  
            span.voteQuantity=  option.votes.length
            |  
script.
    $(".optionButton").on("click", function(){
             $(this).siblings(":first").html($(this).siblings(":first").html() + 1);
             $(this).attr("disabled", "disabled");
             //add success message
        });
    });