include ./partials/__header.jade
script(type='text/javascript', src='https://www.google.com/jsapi')
include ./partials/__navbar.jade
mixin navigation(loggedIn, seshName)
include ./partials/__jumbotron.jade
div#pollPresentation
    h3.greenText= poll.pollName
        h4 Poll created by:
            |  
            span= seshName
    form#pollOptions(method="POST")
        each option in poll.pollOptions
            button.optionButton(name="incrementID", value=option._id, type="submit")= option.text 
            |  
            span.voteQuantity=  option.votes.length
            |  
div#pollExplainer Note that you can vote for as many options as you want, but cannot vote for the same option twice.

div#poll_chart
script.
    $(".optionButton").on("click", function(){
             $(this).siblings(":first").html($(this).siblings(":first").html() + 1);
             $(this).attr("disabled", "disabled");
             //add success message
        });
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});
      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);
      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {
        // Create the data table.
        console.log("drawin'");
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Mushrooms', 3],
          ['Onions', 1],
          ['Olives', 1],
          ['Zucchini', 1],
          ['Pepperoni', 2]
        ]);

        // Set chart options
        var options = {'title':'How Much Pizza I Ate Last Night',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('poll_chart'));
        chart.draw(data, options);
      }