include ./partials/__header.jade
include ./partials/__navbar.jade
mixin navigation(loggedIn, seshName, seshEmail)
include ./partials/__jumbotron.jade
h3 Update your account information
form#changeinfoform(method="POST")
  label
    | Name
    br
    input(type='text', name='name' value=seshName)
  br
  label
    | Email
    br
    input(type='text', name='email' value=seshEmail)
  br
  label
    | Old Password
    br
    input(type='password', name='currentPassword')
  br
  label
    | New Password
    br
    input(type='password', name='newPassword')
  br
  input(type='submit', value='Update')
include ./partials/__success.jade
mixin successDisplay(success)
include ./partials/__error.jade
mixin errorDisplay(error)