include ./partials/__header.jade
include ./partials/__navbar.jade
mixin navigation(loggedIn, seshName, seshEmail)
include ./partials/__jumbotron.jade
div#changeInfo
  h3.greenText Update your account information
  form(method="POST")
    label
      span.greenText Name
      br
      input(type='text', name='name' value=seshName)
    br
    label
      span.greenText Email
      br
      input(type='text', name='email' value=seshEmail)
    br
    label
      span.greenText Old Password
      br
      input(type='password', name='currentPassword')
    br
    label
      span.greenText New Password
      br
      input(type='password', name='newPassword')
    br
    input(type='submit', value='Update')
include ./partials/__success.jade
mixin successDisplay(success)
include ./partials/__error.jade
mixin errorDisplay(error)