include ./partials/__header.jade
include ./partials/__navbar.jade
mixin navigation(seshName)
include ./partials/__jumbodashboard.jade
include ./partials/__errorAJAX.jade
include ./partials/__successAJAX.jade
div#sharedPolls
    h2.greenText Polls Shared With Me
    br
    table#sharedPollTable
      tr
          th.greenText Poll Question
          th.greenText Created By
          th.greenText Delete?
      for poll in sharedPolls
        tr
          td
            a(href="/polls/"+poll.id)= poll.name
          td
            a(href="/users/"+poll.userID)= poll.userName
          td
            button.deletePollButton(name="deleteID" value=poll.id) Delete
script.
    $(".deletePollButton").on("click", function(){
        var postID = $(this).attr("value");
        $(this).parent().parent().remove();
        $.ajax({
            method: "DELETE",
            url: "/sharedPolls",
            data: {deleteID: postID},
            success: function(returned){
            if(returned.success){
               $("#success").html(returned.success);
            }
            else{
              $("#error").html(returned.error);
            }
            }
        });
     });